name: Generate GitHub Activity Snake

on:
  schedule:
    - cron: "0 0 * * *" # Runs daily at midnight UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: Platane/snk@v3
        with:
          # Your GitHub username
          github_user: pritykumari1910 
          
          # Configuration for the animation
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake.gif
          
          # Specify GIF output path and animation properties
          gif_out_path: output/github-contribution-grid-snake.gif
          gif_fps: 10
          gif_duration: 5000 # 5 seconds
          
      # Commit the generated files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update GitHub Activity Snake
          files: output/github-contribution-grid-snake.gif output/github-contribution-grid-snake.svg
          branch: main # CHANGE TO 'master' IF THAT IS YOUR DEFAULT BRANCH
