name: Generate GitHub Activity Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

# ADD THIS PERMISSIONS BLOCK HERE!
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: Platane/snk@v3
        with:
          github_user_name: pritykumari1910 
          outputs: |
            output/github-contribution-grid-snake.svg
            output/github-contribution-grid-snake.gif
          
      # Commit the generated files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update GitHub Activity Snake
          file_pattern: output/github-contribution-grid-snake.gif output/github-contribution-grid-snake.svg
          branch: main
